.body {
    margin: 0;
}

.column-container {
    position: fixed;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100%; /* Ensure the container takes up the full height of the parent element */
  }
  
  .scrollable {
    overflow: auto; /* Add scrollbars when content overflows */
  }
  
  .column {
    padding: 10px;
    float: left;
  }

  .select-column {
    width: 20%; /* Set the width of the column */
    background-color: #f1f1f1;
  }

  .data-column {
    width: 50%; /* Set the width of the column */
  }

  .result-column {
    width: 30%; /* Set the width of the column */
    background-color: #f1f1f1;
  }
  
  table {
    border: 1px solid #ddd; /* Add a thin border to the table */
    border-collapse: collapse; /* Collapse borders */
  }

  tr, td, th {
    border: 1px solid #ddd; /* Add a thin border to each table row */
    padding: 5px
  }

  