<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TFRRS Meet Simulator</title>
    <link rel="stylesheet" href="static/style.css">
</head>
<body>
    <div class="column-container">
        <div class="column select-column">
            <h1>Select a Year</h1>
                <select name="year" id="season-select">
                    <!-- Each season will be loaded dynamically -->
                </select>
                <!-- Selector for gender-->
                <select name="gender" id="gender-select">
                    <option value="m">Male</option>
                    <option value="f">Female</option>
                </select>
            </div>
        <div class="column scrollable data-column">
            <h1>Results</h1>
            <div id="data-container">
            </div>
        </div>
        <div class="column result-column">
            <h1>Team Results</h1>
            <div id="result-container">
            </div>
        </div>
    </div>
    
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            loadSeasons();

            let seasonSelector = document.getElementById('season-select');
            seasonSelector.addEventListener('input', function() {
                updateData();
            });

            let genderSelector = document.getElementById('gender-select');
            genderSelector.addEventListener('input', function() {
                updateData();
            });
        });

        function moveResultUp() {
            console.log('up');
        }

        function moveResultDown() {
            console.log('down');
        }

        function updateTables(data) {
            let tableContainer = document.getElementById('data-container');
            for (let eventName in data) {
                let eventDiv = document.createElement('div');
                eventDiv.id = eventName;
                let eventHeader = document.createElement('h3');
                
                eventHeader.textContent = eventName;
                eventDiv.appendChild(eventHeader);

                // Create checkbox
                let checkbox = document.createElement('input');
                checkbox.type = 'checkbox';
                checkbox.checked = true;
                eventHeader.appendChild(checkbox);

                let table = document.createElement('table');
                let eventRow = document.createElement('tr');
                
                // Create table headers
                let headers = ['place', 'name', 'team', 'mark'];
                for (let i = 0; i < headers.length; i++) {
                    let headerCell = document.createElement('th');
                    let capitalized = headers[i].charAt(0).toUpperCase() + headers[i].slice(1);
                    headerCell.textContent = capitalized;
                    eventRow.appendChild(headerCell);
                }
                table.appendChild(eventRow);
                
                // Create table rows
                for (let i = 0; i < data[eventName].length; i++) {
                    let event = data[eventName][i];
                    let eventRow = document.createElement('tr');
                    
                    // Create table cells
                    for (let j = 0; j < headers.length; j++) {
                        let dataCell = document.createElement('td');
                        dataCell.textContent = event[headers[j]];
                        eventRow.appendChild(dataCell);
                    }

                    // Create buttons
                    let upButton = document.createElement('button');
                    upButton.textContent = 'Up';
                    upButton.addEventListener('click', function() {
                        moveResultUp();
                    });
                    let downButton = document.createElement('button');
                    downButton.textContent = 'Down';
                    downButton.addEventListener('click', function() {
                        moveResultDown();
                    });

                    // Add buttons to row
                    let buttonCell = document.createElement('td');
                    if (i !== 0 ) {
                        buttonCell.appendChild(upButton);
                    }
                    if (i !== data[eventName].length - 1) {
                        buttonCell.appendChild(downButton);
                    }
                    eventRow.appendChild(buttonCell);

                    
                    table.appendChild(eventRow);
                }
                
                eventDiv.appendChild(table);

                tableContainer.appendChild(eventDiv);
            }
        }

        function updateScores() {
            let scores = {};
            let placeScores = [10, 8, 6, 5, 4, 3, 2, 1];

            tableContainer = document.getElementById('data-container');
            tables = tableContainer.children;
            for (let event = 0; event < tables.length; event++) {
                data = tableContainer.children[event].children[1].children;
                for (let i = 1; i < data.length; i++) {
                    let team = data[i].children[2].textContent;
                    let place = +data[i].children[0].textContent;
                    if (place > 8) {
                        continue;
                    }
                    if (team in scores) {
                        scores[team] += placeScores[place - 1];
                    } else {
                        scores[team] = placeScores[place - 1];
                    }
                }
            }
            let sortedTeams = Object.keys(scores).sort(function(a, b) {
                return scores[b] - scores[a];
            });
            updateScoreDisplay(sortedTeams, scores);
        }

        function updateScoreDisplay(sortedTeams, scores) {
            const scoreDiv = document.getElementById('result-container');
            scoreDiv.innerHTML = '';
            for (let team in sortedTeams) { 
                let teamName = document.createElement('h3');
                teamName.textContent = sortedTeams[team];
                scoreDiv.appendChild(teamName);
                let score = document.createElement('p');
                score.textContent = scores[sortedTeams[team]];
                scoreDiv.appendChild(score);
            }
        }

        function updateData() {
            document.getElementById('data-container').innerHTML = '';
            season = document.getElementById('season-select').value;
            gender = document.getElementById('gender-select').value;
            fetch(`/results?season=${season}&gender=${gender}`)
            .then(response => response.json())
            .then(data => {
                // console.log(data);
                // create table dynamically
                updateTables(data);
                updateScores(data);
            });
        }
        

        function loadSeasons() {
            fetch('/seasons')
            .then(response => response.json())
            .then(data => {
                selector = document.getElementById('season-select');
                for (let id in data['seasons']) {
                    let option = document.createElement('option');
                    option.value = id;
                    option.innerHTML = data['seasons'][id];
                    selector.appendChild(option);
                }
                fetch('/currentSeason')
                .then(response => response.json())
                .then(data => {
                    selector.value = data['current_season'];
                    updateData();
                });
            });
        }
    </script>
</body>
</html>