<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TFRRS Meet Simulator</title>
    <link rel="stylesheet" href="static/style.css">
</head>
<body>
    <div class="column-container">
        <div class="column">
            <h1>Select a Year</h1>
                <select name="year" id="seasonSelect">
                    <!-- Each season will be loaded dynamically -->
                </select>
                <!-- Selector for gender-->
            </div>
        <div class="column scrollable">
            <h1>Results</h1>
            <table id="data-container">
            </table>
        </div>
        <div class="column">
            <h1>Team Results</h1>
        </div>
    </div>
    
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            loadSeasons();
            // start with the current season
        });

        seasonSelector = document.getElementById('seasonSelect');
        seasonSelector.addEventListener('input', function() {
            changeSeason(selector.value);
        });

        // add a selector for gender

        // add event listener for gender selector, make sure to use selected season

        // add query parameter for gender
        function changeSeason(season) {
            document.getElementById('data-container').innerHTML = '';
            fetch(`/results?season=${season}`)
            .then(response => response.json())
            .then(data => {
                console.log(data);
                // create table dynamically
                let tableContainer = document.getElementById('data-container');
                for (let eventName in data) {
                    let eventHeader = document.createElement('h3');
                    eventHeader.textContent = eventName;
                    tableContainer.appendChild(eventHeader);

                    let table = document.createElement('table');
                    let eventRow = document.createElement('tr');
                    
                    // Create table headers
                    let headers = ['place', 'name', 'team', 'mark'];
                    for (let i = 0; i < headers.length; i++) {
                        let headerCell = document.createElement('th');
                        let capitalized = headers[i].charAt(0).toUpperCase() + headers[i].slice(1);
                        headerCell.textContent = capitalized;
                        eventRow.appendChild(headerCell);
                    }
                    table.appendChild(eventRow);
                    
                    // Create table rows
                    for (let i = 0; i < data[eventName].length; i++) {
                        let event = data[eventName][i];
                        let eventRow = document.createElement('tr');
                        
                        // Create table cells
                        for (let j = 0; j < headers.length; j++) {
                            let dataCell = document.createElement('td');
                            dataCell.textContent = event[headers[j]];
                            eventRow.appendChild(dataCell);
                        }
                        
                        table.appendChild(eventRow);
                    }
                    
                    tableContainer.appendChild(table);
                }
            });
        }
        

        function loadSeasons() {
            fetch('/seasons')
            .then(response => response.json())
            .then(data => {
                selector = document.getElementById('seasonSelect');
                for (let id in data['seasons']) {
                    let option = document.createElement('option');
                    option.value = id;
                    option.innerHTML = data['seasons'][id];
                    selector.appendChild(option);
                }
            });
        }
    </script>
</body>
</html>